:root {
  --default-background-color: #6daa;
  --default-scale: 1;

  --selected-background-color: #8eca;
  --selected-scale: 1.2;
  --selected-translate-y: calc(calc(var(--selected-scale) - 1) * -50% + 1px)
}

.navbtn-body {
  background-color: #6daa;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0;
  padding: 0 10px;
  border-radius: 10px 10px 0 0;
  border-width: 1px;
  border-color: #0002;
  border-style: solid;
  border-bottom-width: 0;
  box-shadow: -2px 0px 10px #0002;
}

.navbtn-body.selected {
  background-color: var(--selected-background-color);
  transform: scale(var(--selected-scale)) translate(0, var(--selected-translate-y));
}

.navbtn-body.selectable {
  cursor: pointer;
}

@keyframes hover-on-anim {
  0% {
    transform: scale(var(--default-scale)) translate(0, 0);
    background-color: var(--default-background-color);
  }
  100% {
    transform: scale(var(--selected-scale)) translate(0, var(--selected-translate-y));
    background-color: var(--selected-background-color);
  }
}

@keyframes hover-off-anim {
  0% {
    transform: scale(var(--selected-scale)) translate(0, var(--selected-translate-y));
    background-color: var(--selected-background-color);
  }
  100% {
    transform: scale(var(--default-scale)) translate(0, 0);
    background-color: var(--default-background-color);
  }
}

.navbtn-body.hover-enter {
  animation-name: hover-on-anim;
  animation-duration: 100ms;
  transform: scale(var(--selected-scale)) translate(0, var(--selected-translate-y));
  background-color: var(--selected-background-color);
}

.navbtn-body.hover-leave {
  animation-name: hover-off-anim;
  animation-duration: 100ms;
}

.navbtn-title {
  margin: 0;
  color: #222;
  user-select: none;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .navbtn-title {
    font-size: 2vw;
  }
}