:root {
  --body-background-color: #6daa;
  --hover-on-background-color: #8eca;
  --selected-background-color: #8eca;
}

.navbtn-body {
  background-color: #6daa;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0;
  padding: 0 10px;
  border-radius: 10px 10px 0 0;
  box-shadow: -2px 0px 10px #0002;
  cursor: pointer;
}

.navbtn-body.selected {
  background-color: var(--selected-background-color);
}

@keyframes hover-on-anim {
  0% {
    transform: scale(1);
    background-color: var(--body-background-color);
  }
  100% {
    transform: scale(1.2);
    background-color: var(--hover-on-background-color);
  }
}

@keyframes hover-off-anim {
  0% {
    transform: scale(1.2);
    background-color: var(--hover-on-background-color);
  }
  100% {
    transform: scale(1);
    background-color: var(--body-background-color);
  }
}

.navbtn-body.hover-enter {
  animation-name: hover-on-anim;
  animation-duration: 100ms;
  transform: scale(1.2);
  background-color: var(--hover-on-background-color);
}

.navbtn-body.hover-leave {
  animation-name: hover-off-anim;
  animation-duration: 100ms;
}

.navbtn-title {
  margin: 0;
  color: #222;
  user-select: none;
  font-weight: bold;
}