.home-root {
  background-color: #eee;
  min-height: 70vh;
  width: 700px;
  color: #000;
  border-radius: 15px;
  box-shadow: -4px 7px 14px #0004;
}

.home-body {
  display: grid;
  grid-template: 30px 1fr / 1fr;
  justify-items: center;
  align-items: center;
}

.home-article {
  padding: 20px;
}