@font-face {
  font-family: Fira Code;
  src: url('./fonts/FiraCode-Light.ttf');
}

body {
  margin: 0;
}

.app-root {
  font-family: Fira Code;
  min-height: 100vh;
  background-color: #99eecb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background-image: url('./images//source-code.jpeg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100% 60%; */
}

img.source-code-img {
  position: absolute;
  top: 0;
  left: 0;
}